/* 高亮主题颜色 */
:root {
    --hl-color: #ffffff; /* 默认字体颜色为白色 */
    --hl-bg: #181818; /* 背景颜色为深黑色 */
    --hltools-bg: #0094ff; /* 高亮工具栏背景颜色为蓝色 */
    --hltools-color: #ffffff; /* 高亮工具栏字体颜色为白色 */
    --hlnumber-bg: #2F2F2F; /* 行号背景颜色为一种深黑色，比 #181818 稍浅一些 */
    --hlnumber-color: #ffffff; /* 行号字体颜色为白色 */
}

.hljs, .hljs *, .hljs-toolbar, .hljs-toolbar *, .hljs-ln-numbers, .hljs-ln-numbers * {
    background: var(--hl-bg) !important; /* 使用高亮的背景颜色 */
    color: var(--hl-color) !important; /* 使用高亮的默认字体颜色 */
    font-size: 18px !important; /* 设置字体大小 */
    line-height: 1.4 !important; /* 设置行高 */
}

.hljs-toolbar {
    background: var(--hltools-bg) !important; /* 高亮工具栏背景颜色 */
    color: var(--hltools-color) !important; /* 高亮工具栏字体颜色 */
    font-size: 18px !important; /* 设置工具栏的字体大小 */
}

.hljs-ln-numbers {
    background: var(--hlnumber-bg) !important; /* 行号背景颜色 */
    color: var(--hlnumber-color) !important; /* 行号字体颜色 */
    font-size: 18px !important; /* 设置行号的字体大小 */
    line-height: 1.4 !important; /* 设置行号的行高 */
}

pre, code {
    font-size: 18px !important; /* 设置字体大小 */
    line-height: 1.4 !important; /* 设置行高 */
}

/* VS2022 颜色主题 */
.hljs-comment,
.hljs-quote {
    color: #6a9955 !important; /* 注释 */
}

.hljs-keyword {
    color: #569cd6 !important; /* 关键字 */
}

.hljs-built_in {
    color: #c586c0 !important; /* 内建函数 */
}

.hljs-type {
    color: #569cd6 !important; /* 类型 (如 int, void) */
}

.hljs-title {
    color: #dcdcaa !important; /* 标题 (如函数名) */
}

.hljs-attribute {
    color: #9cdcfe !important; /* 属性 */
}

.hljs-literal {
    color: #569cd6 !important; /* 字面量 */
}

.hljs-number {
    color: #b5cea8 !important; /* 数字 */
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
    color: #ce9178 !important; /* 正则表达式和字符串 */
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
    color: #dcdcaa !important; /* 符号、列表项标记和链接 */
}

.hljs-variable,
.hljs-template-variable {
    color: #9cdcfe !important; /* 变量和模板变量 */
}

.hljs-template-tag {
    color: #569cd6 !important; /* 模板标签 */
}

.hljs-doctag {
    color: #808080 !important; /* 文档标签 */
}

.hljs-meta {
    color: #9cdcfe !important; /* 元信息 */
}

.hljs-operator {
    color: #d4d4d4 !important; /* 操作符 */
}

.hljs-deletion {
    color: #ce9178 !important; /* 删除 */
}

.hljs-addition {
    color: #b5cea8 !important; /* 添加 */
}

.hljs-emphasis {
    font-style: italic !important;
}

.hljs-strong {
    font-weight: bold !important;
}

.hljs-preprocessor {
    color: #c586c0 !important; /* 预处理指令 (如 #include) */
}

/* 为确保行号和代码内容的字体大小的一致 */
.hljs-ln-line {
    font-size: 18px !important; /* 设置行号的字体大小 */
    line-height: 1.4 !important; /* 设置行号的行高 */
}
/* 确保页脚和头图的背景透明，且优先级最高 */
html body #footer {
    background: transparent !important;
}

html body #page-header {
    background: transparent !important;
}

/* 确保暗模式中的背景透明，且优先级最高 */
html body #footer::before {
    background: transparent !important;
}

html body #page-header::before {
    background: transparent !important;
}

/* 确保暗模式中的背景透明，且优先级最高 */
html body[data-theme="dark"] #footer::before {
    background: transparent !important;
}

html body[data-theme="dark"] #page-header::before {
    background: transparent !important;
}


/* 小磁力链接在暗模式下的样式 */
/* 默认状态 */
[data-theme="dark"] .magnet_link_context {
  background: #1e1e1e;
  color: antiquewhite;
}
/* 鼠标悬停状态 */
[data-theme="dark"] .magnet_link_context:hover {
  background: #3ecdf1;
  color: #f2f2f2;
}

/* 分页按钮样式 */
#pagination {
    width: 100%;
    margin: auto;
}

/* 顶部菜单样式 */
#nav .menus_items {
  position: absolute !important;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-52%) !important;
}
/* 子菜单显示 */
#nav .menus_items .menus_item:hover .menus_item_child {
  display: flex !important;
}   
/* 调整第2个顶级菜单项的第2个子菜单项的位置，可根据需要自行修改 */
.menus_items .menus_item:nth-child(2) .menus_item_child {
    left: -72px;
}

/* 白天模式下的动画效果 */
[data-theme="light"] #site-name,
[data-theme="light"] #site-title,
[data-theme="light"] #site-subtitle,
[data-theme="light"] #post-info {
  animation: none;
}
/* 夜间模式动画效果 */
[data-theme="dark"] #site-name,
[data-theme="dark"] #site-title {
  animation: light_15px 10s linear infinite;
}
[data-theme="dark"] #site-subtitle {
  animation: light_10px 10s linear infinite;
}
[data-theme="dark"] #post-info {
  animation: light_5px 10s linear infinite;
}
/* 关键帧动画 */
@keyframes light_15px {
  0% {
    text-shadow: #5636ed 0 0 15px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 15px;
  }
  25% {
    text-shadow: #f14747 0 0 15px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 15px;
  }
  50% {
    text-shadow: #f1ee47 0 0 15px;
  }
  50% {
    text-shadow: #b347f1 0 0 15px;
  }
  62.5% {
    text-shadow: #002afa 0 0 15px;
  }
  75% {
    text-shadow: #ed709b 0 0 15px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 15px;
  }
  100% {
    text-shadow: #5636ed 0 0 15px;
  }
}

@keyframes light_10px {
  0% {
    text-shadow: #5636ed 0 0 10px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 10px;
  }
  25% {
    text-shadow: #f14747 0 0 10px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 10px;
  }
  50% {
    text-shadow: #f1ee47 0 0 10px;
  }
  50% {
    text-shadow: #b347f1 0 0 10px;
  }
  62.5% {
    text-shadow: #002afa 0 0 10px;
  }
  75% {
    text-shadow: #ed709b 0 0 10px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 10px;
  }
  100% {
    text-shadow: #5636ed 0 0 10px;
  }
}

@keyframes light_5px {
  0% {
    text-shadow: #5636ed 0 0 5px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 5px;
  }
  25% {
    text-shadow: #f14747 0 0 5px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 15px;
  }
  50% {
    text-shadow: #f1ee47 0 0 5px;
  }
  50% {
    text-shadow: #b347f1 0 0 5px;
  }
  62.5% {
    text-shadow: #002afa 0 0 5px;
  }
  75% {
    text-shadow: #ed709b 0 0 5px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 5px;
  }
  100% {
    text-shadow: #5636ed 0 0 5px;
  }
}

/* 宇宙背景 */
#universe{
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* 背景的z轴层级，-1表示在页面内容后面，背景前面，推荐设置 */
  z-index: -2;
}

/* 侧边栏个人信息卡片动态背景色 */
#aside-content > .card-widget.card-info {
  background: linear-gradient(
    -45deg,
    #e8d8b9,
    #eccec5,
    #a3e9eb,
    #bdbdf0,
    #eec1ea
  );
  box-shadow: 0 0 5px rgb(66, 68, 68);
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite !important;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 夜间模式背景 */
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background: #191919ee;
}

/* 侧边栏Follow me按钮 */
#aside-content > .card-widget.card-info > #card-info-btn {
  background-color: #3eb8be;
  border-radius: 8px;
}

:root {
  --trans-light: rgba(255, 255, 255, 0.88);
  --trans-dark: rgba(25, 25, 25, 0.88);
  --border-style: 1px solid rgb(169, 169, 169);
  --backdrop-filter: blur(5px) saturate(150%);
}

/* 首页最新文章卡片 */
#recent-posts > .recent-post-item {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border-radius: 25px;
  border: var(--border-style);
}

/* 侧边栏卡片 */
#aside-content .card-widget {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border-radius: 18px;
  border: var(--border-style);
}

/* 文章页、归档页和普通页面 */
div#post,
div#page,
div#archive {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border: var(--border-style);
  border-radius: 20px;
}

/* 导航栏 */
#page-header.nav-fixed #nav {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: var(--backdrop-filter);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
  background: rgba(0, 0, 0, 0.7) !important;
}

/* 夜间模式背景 */
[data-theme="dark"] #recent-posts > .recent-post-item,
[data-theme="dark"] #aside-content .card-widget,
[data-theme="dark"] div#post,
[data-theme="dark"] div#archive,
[data-theme="dark"] div#page {
  background: var(--trans-dark);
}


/* 夜间模式页脚页头背景透明 */
[data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}

/* 阅读模式 */
.read-mode #aside-content .card-widget {
  background: rgba(158, 204, 171, 0.5) !important;
}
.read-mode div#post {
  background: rgba(158, 204, 171, 0.5) !important;
}

/* 夜间模式下的阅读模式 */
[data-theme="dark"] .read-mode #aside-content .card-widget {
  background: rgba(25, 25, 25, 0.9) !important;
  color: #ffffff;
}
[data-theme="dark"] .read-mode div#post {
  background: rgba(25, 25, 25, 0.9) !important;
  color: #ffffff;
}

/* 帧率显示 */
#fps {
  position: fixed;
  /* 指定位置 */
  left: 10px;
  bottom: 10px;
  z-index: 1919810;
}
[data-theme="light"] #fps {
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: var(--backdrop-filter);
  padding: 4px;
  border-radius: 4px;
}
[data-theme="dark"] #fps {
  background-color: rgba(0, 0, 0, 0.72);
  backdrop-filter: var(--backdrop-filter);
  padding: 4px;
  border-radius: 4px;
}

/* 社交图标 */
svg.social_icon {
  width: 1.38em;
  height: 1.38em;
  vertical-align: -0.24em;
  fill: currentColor;
  overflow: hidden;
  margin-left: 2px; /* 设置左边距以调整图标 */
  margin-right: 3px; /* 设置右边距以调整图标 */
}

/* 雪花效果 */
[data-theme="light"] #snow{
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -2;
}

/* 雪花在夜间模式下不显示 */
[data-theme="dark"] #snow{
  display: none;
}

/* 普通字体大小 */
body {
  font-size: 16px;
}

/* 段落字体大小 */
p {
  font-size: 16px;
}
/* 有序列表 */
ol {
  font-size: 16px; 
}

/* 无序列表 */
ul {
  font-size: 16px;
}

/* 一级标题 */
h1 {
  font-size: 32px;
}

/* 二级标题 */
h2 {
  font-size: 24px;
}
